<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><bold>PAGINA DE CALCULO</bold></title>
</head>
<body>

    <form method="POST" action="/math">
        <label for="num1">Primer numero:</label>
        <input type="number" id="num1" name="num1">

        <label for="num2">Primer numero:</label>
        <input type="number" id="num2" name="num2">

        <input type="submit" value="Sumar">
    </form>

</body>
</html>